.block-down {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 50px auto 0 auto;
}

.block-down>.down {
    width: 220px;
    height: 220px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background: #f9f9f9;
    box-shadow:0 2px 4px #ebebeb;
    transition: 0.3s;
}
.block-down>.down:hover{
        box-shadow:2px 0 4px #ebebeb;
}

.block-down>.down a{
    text-decoration: none;
    color: #000;
    font-size: 21px;
    font-weight: lighter;
}

.block-down>.down img {
    width: 80px;
}