@font-face {
    font-family: "MullerBlack";
    src: url(../fonts/MullerBlack.ttf);
}

@font-face {
    font-family: "MullerBold";
    src: url(../fonts/MullerBold.ttf);
}

@font-face {
    font-family: "MullerLight";
    src: url(../fonts/MullerLight.ttf);
}

@font-face {
    font-family: "MullerMedium";
    src: url(../fonts/MullerMedium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f9f9fd;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff782c;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
}

body {
    font-family: "MullerLight";
}

p {
    font-family: "MullerLight";
}

h1 {
    font-family: "MullerBlack";
}

h2 {
    font-family: "MullerBold";
}